a {
    display: flex;
    justify-content: center;
    width: 50%;
    font-size: 20px;
    margin: auto;
    background-color: white;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1%;
    width: 30%;
}

body {
    display: flex;
    height: 900px;
    align-items: center;
    justify-content: center;
}

.pergunta {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

img {
    height: 240px;
    margin-bottom: 4%;
    border-radius: 10px;
    border: solid 2px rgb(0, 0, 0);
}

.alternativa_pai {
    display: flex;
    justify-content: center;
    padding: 1%;
}

.alternativa_filha {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:20px;
    background-color: white; 
    border: solid 2px black;   
    width: 50%;
    padding: 2%;
    margin: 2%;
    border-radius: 10px;
    transition: transform 0.5s;
    align-items: center;
    justify-content: center;
}  
 
.alternativa_filha:hover {
    transform: scale(1.1);
}


.botao {
    display: flex;
    justify-content: center;
    padding: 5%;
    padding: 15px 32px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
}

.escondido {
    display: none;
}

.correta {
    background-color: rgb(100, 255, 100) ;
}

.incorreta {
    background-color: rgb(255, 100, 100);
}